---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import PancakeButton from "../../src/assets/images/Group-4.png";
import Dropdown from "@components/Dropdown.astro";
import Button from "@components/Button.astro"
import {Content as Reasoning} from "../components/markdown/Reasoning.md"
import {Content as LoungeBonus} from "../components/markdown/LoungeBonus.md"
import {Content as HowTo} from "../components/markdown/How-To.md"
---

<Layout title="Project_1">
  <div class="page-container">
    <header>
      <nav>
        <h1 class="header-start">Why the Old Library Should Have a Pancake Maker</h1>
        <div class="btn-pancake">
          <Button>
            <h2 class="post">Why</h2>
          </Button>
          <Button>
            <h2 class="post">Bonus</h2>
          </Button>
          <Button>
            <h2 class="post">How To</h2>
          </Button>
          <Button>
            <h2 class="post">Options</h2>
          </Button>
        </div>
      </nav>     
    </header>
    <section class="body-section" id="pancake-reason">
      <h2>This is a Good Idea, Trust Me</h2>
      <div class="reason">
        <Reasoning />  
      </div> 
      <div class="hero-border">     
        <img 
        src="../../src/assets/images/Pancake-Maker.jpg"
        class="pancake-hero";
        />
      </div>
    <hr />
    </section>
     <section class="body-section" id="Bonus">
      <h2>Lounge Bonus</h2>
      <div class="bonus">
        <LoungeBonus />
      </div>
      <div class="hero-border">
        <img 
        src="../../src/assets/images/IMG_3455.jpeg"
        class="lounge-hero";
        />
      </div>
    </section>
    <hr />
    <section class="body-section" id="how-to">
      <h2>How it Would Work</h2>
      <div class="tutorial">
        <HowTo />
      </div>
      <Dropdown title="Available Options">
        <ul>
        <li>Maple syrup</li>
        <li>Whipped cream</li>
        <li>Chocolate chips</li>
        <li>Blueberries</li>
        </ul>
      </Dropdown>
      <div class="hero-border">
        <img 
        src="../../src/assets/images/IMG_3454.jpeg"
        class="desk-hero";
        />
      </div>
    </section>
    <hr />
    <section class="body-section" id="alternatives">
      <h2>Other Options</h2>
      <div class="food"> 
        <nav class="alt-grid">
        <a class="alt-list">
          <p>Waffles</p>
        </a>
        <a class="alt-list">
          <p>Toast</p>
        </a>
        <a class="alt-list">
          <p>French Toast</p>
        </a>
        <a class="alt-list">
          <p>Taiyaki</p>
        </a>
        </nav>
      </div>
    </section>
  </div>
</Layout>

<style is:global>
  .page-container{
    max-width: 430px;
    display: flex;
    flex-direction: column;
  }
  .header-start{
    text-align: center;
    padding: 1rem;
    border: rgb(92, 61, 28) 5px solid;
  }
  .btn-pancake {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
  }
  .post{
    background: center no-repeat url(../../src/assets/images/Group-4.png);
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 200px;
  }
  .body-section{
    margin-top: 1rem;
  }
  .body-section > h2{
    text-align: center;
    margin-bottom: 0.5rem;
  }
  hr {
  border: none;
  border-top: 3px double #333333;
  color: #333333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 30px 10px 0 10px;
  }
  hr::after {
    padding: 0 4px;
    position: relative;
    top: -13px;
  }
  .reason{
   padding-left: 10px;
   padding-right: 10px;
  }
  .hero-border{
    background-color: rgb(180, 175, 123);
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .pancake-hero{
    border: rgb(92, 61, 28) 5px solid;
    border-radius: 5px;
  }
  .bonus{
   padding-left: 10px;
   padding-right: 10px;
  }
  .lounge-hero{
    border: rgb(92, 61, 28) 5px solid;
    border-radius: 5px;
  }
  .tutorial{
   padding-left: 10px;
   padding-right: 10px;
  }
  .desk-hero{
    border: rgb(92, 61, 28) 5px solid;
    border-radius: 5px;
  }
  #alternatives{
    margin-bottom: 20px;
  }
  .food{
    display: flex;
    justify-content: space-evenly;
  }
  .alt-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .alt-list{
    border: rgb(92, 61, 28) 2px solid;
    border-radius: 10px;
    background-color: rgb(92, 61, 28);
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
</style>