---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import PancakeButton from "../../src/assets/images/Group-4.png";
import Dropdown from "@components/Dropdown.astro";
import Button from "@components/Button.astro"
---

<Layout title="Project_1">
  <div class="page-container">
    <header>
      <nav>
        <h1 class="header-start">Why the Old Library Should Have a Pancake Maker</h1>
        <div class="btn-pancake">
          <img 
          href="#pancake-reason"
          src="../../src/assets/images/Group-4.png" 
          class="btn-pancake"
          />
          <h2>Why</h2>
          <Button>
            Why
          </Button>
        </div>
      </nav>
      
    </header>
    <section class="body-section" id="pancake-reason">
      <h2>This is a Good Idea, Trust Me</h2>
      <p>As a design student, you're probably familiar with pulling an all nighter in the Old Library, working on one of your projects. It's late, and you start to get hungry, but everything is closed, you're dorm is on the other side of campus (_Trust me, I know the feeling_). Wouldn't it be convenient if there was food you had access to in the Old Library so you could save yourself the trouble? That, my fellow graphic design students, is exactly why we should have an automatic pancake maker within the Old Library. No need to order food or pack a snack, you can have fresh pancakes ready for you. But then you might ask yourself, "what if I'm here all night until morning, and it's still too early for any of the food places to open?" You already know the answer, you can go to the pancake maker for a quick and efficient breakfast.</p>
      <img 
      src="../../src/assets/images/Pancake-Maker.jpg";
      class="pancake-hero"
    </section>
    <section class="body-section" id="how-to">
      <h2>How it Would Work</h2>
    </section>
    <section class="body-section" id="alternatives">
      <h2>Other Options</h2>
    </section>
    <Dropdown title="Pancakes">
    </Dropdown>
    <a href="https://docs.google.com/document/d/13C7-kCTTVSB57x2g9iaKjl_Z_AjSTDTd_xHipEpWDtE/edit?tab=t.0">Project Layout</a>
  </div>
</Layout>
