---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import PancakeButton from "../../src/assets/images/Group-4.png";
import Dropdown from "@components/Dropdown.astro";
import Button from "@components/Button.astro"
import {Content as Reasoning} from "../components/markdown/Reasoning.md"
import {Content as LoungeBonus} from "../components/markdown/LoungeBonus.md"
import {Content as HowTo} from "../components/markdown/How-To.md"
---

<Layout title="Project_1">
  <div class="page-container">
    <header>
      <nav>
        <h1 class="header-start">Why the Old Library Should Have a Pancake Maker</h1>
        <div class="btn-pancake">
          <Button>
            <h2 class="post">Why</h2>
          </Button>
        </div>
      </nav>     
    </header>
    <section class="body-section" id="pancake-reason">
      <h2>This is a Good Idea, Trust Me</h2>
      <div class="reason">
        <Reasoning />  
      </div>      
      <img 
      src="../../src/assets/images/Pancake-Maker.jpg"
      class="pancake-hero";
      />
    </section>
     <section class="body-section" id="Bonus">
      <h2>Lounge Bonus</h2>
      <div class="bonus">
        <LoungeBonus />
      </div>
      <img 
      src="../../src/assets/images/IMG_3455.jpeg"
      class="lounge-hero";
      />
    </section>
    <section class="body-section" id="how-to">
      <h2>How it Would Work</h2>
      <div class="Tutorial">
        <HowTo />
      </div>
      <Dropdown title="Available Options">
        <ul>
        <li>Maple syrup</li>
        <li>Whipped cream</li>
        <li>Chocolate chips</li>
        <li>Blueberries</li>
        </ul>
      </Dropdown>
      <img 
      src="../../src/assets/images/IMG_3454.jpeg"
      class="lounge-hero";
      />
    </section>
    <section class="body-section" id="alternatives">
      <h2>Other Options</h2>
    </section>
    <Dropdown title="Pancakes">
    </Dropdown>
    <a href="https://docs.google.com/document/d/13C7-kCTTVSB57x2g9iaKjl_Z_AjSTDTd_xHipEpWDtE/edit?tab=t.0">Project Layout</a>
  </div>
</Layout>

<style is:global>
  .post{
    position: relative;
    left: 115px;
    top: -7px
  }
</style>